/* root - стиль по умолчанию */
.root {
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
	-fx-alignment: CENTER;
}

/* desktop-header-1 - стиль для больших заголовков */
.desktop-header-1 {
	-fx-font-family: "Arial";
	-fx-font-size: 26px;
	-fx-font-weight: bold;
	-fx-alignment: CENTER;
}

/* desktop-header-2 - стиль для небольших заголовков */
.desktop-header-2 {
	-fx-font-family: "Arial";
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-alignment: CENTER;
}

/* desktop-label - стиль для надписей для TextEdit компонент */
.desktop-label {
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
	-fx-alignment: CENTER_RIGHT;
}

/* tooltip - стиль всплывающих подсказок и уведомлений */
.tooltip{
	-fx-background-color: white;
	-fx-text-fill: black;
}

/* radio-button - стиль для переключателей типа radio-buttons */
.radio-button{
	-fx-font-size: 12px;
	-fx-font-family: "Arial";
	-fx-fill: #818181;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

/* desktop-btn - стиль для кнопок без текста, но с иконками */
.desktop-btn{
}

/* desktop-button - стиль для обычных кнопок */
.desktop-button {
	-fx-text-fill: white;
	-fx-alignment: bottom_left;
	-fx-pref-width: 150px;
	-fx-border-radius: 3px;
	-fx-background-color: #2F444E;
}
/* кнопка при наведении курсора */
.desktop-button:hover {
	-fx-text-fill: white;
	-fx-background-color: green;
}

/* INPUT - стиль для полей ввода */
.desktop-input {
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
	-fx-border-width: 1px;
	-fx-border-radius: 4px;
	-fx-background-color: white;
	-fx-border-color: lightgray;
}

.desktop-input:focused{
	-fx-border-color: green;
}

/* navigation-pane-left - стиль левой панели с кнопками */
.navigation-pane-left {
	-fx-pref-width: 150px;
	-fx-padding: 1px;
	-fx-background-color: #2F444E;
}

