/* root - стиль по умолчанию */
.root {
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
	-fx-alignment: CENTER;
	domrf-primary: #8BC540;
	domrf-secondary: #2F444E;
	domrf-grey: #76787A;
	domrf-card: #F1F3F4;
	grey-15: #CCCCCC;
}

/* navigation-pane-left - стиль левой панели с кнопками */
.navigation-pane-left {
	-fx-pref-width: 155px;
	-fx-padding: 3px;
	-fx-background-color: domrf-secondary;
}

/*** BUTTONS ***/

/* SIMPLE BUTTONS */
.desktop-btn {
	/* -fx-text-alignment	[ left | center | right | justify ] */
	/* box-shadow offset-x | offset-y | blur-radius | spread-radius | color */
	/* dropshadow( <blur-type> , <color> , <radius> , <spread> , <x> , <y> ) */
	/* <blur-type> [ gaussian | one-pass-box | three-pass-box | two-pass-box ] */
	-fx-border-style: null;
	-fx-font-size: 14px;
	-fx-line-height: 2em;
	-fx-text-transform: uppercase;
	-fx-text-alignment: center;
	-fx-padding: 4px 16px 4px 16px;
	-fx-min-height: 2.572em;
	-fx-background-color: transparent;
	-fx-border-radius: 3px;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 15, 0.5, 0, 1);
	-fx-pref-width: 150px;
}
.desktop-btn:hover{
	-fx-cursor: hand;
}

/* DENSE */
.desktop-btn.dense {
	-fx-padding: 0.285em;
	-fx-min-height: 2em;
	-fx-line-height: 1.715em;
}
/* BUTTONS COLORS */
.desktop-btn.primary {
	-fx-background-color: domrf-primary;
	-fx-text-fill: domrf-primary;
	-fx-border-color: domrf-primary domrf-primary domrf-primary domrf-primary;
}
/* FILLED BUTTONS */
.desktop-btn.filled {
	-fx-text-fill: #fff !important;
}
/* OUTLINED BUTTONS */
.desktop-btn.outline {
	-fx-background-color: transparent !important;
	-fx-border-style: solid  solid solid solid;
	-fx-border-width: 1;
	-fx-effect: null;
}

/* ROUND BUTTONS */
.desktop-btn-round {
	-fx-border-radius: 100;
	-fx-padding: 10;
	-fx-min-width: 30;
	-fx-pref-width: 34;
	-fx-min-height: 30;
	-fx-pref-height: 34;
	-fx-effect: null;
	-fx-background-color: transparent;
	-fx-background-radius: 100;
}
.desktop-btn-round:hover {
	-fx-cursor: hand;
}
.desktop-btn-round.primary:hover {
	-fx-background-color: rgba(139, 197, 64, 0.1);
}
.desktop-btn-round.secondary:hover {
	-fx-background-color: rgba(47, 68, 78, 0.1);
}

/* desktop-header-1 - стиль для больших заголовков */
.desktop-header-1 {
	-fx-font-family: "Arial";
	-fx-font-size: 26px;
	-fx-font-weight: bold;
	-fx-alignment: CENTER;
	-fx-max-width: 2000px;
	/* this is just analogue of margin */
	-fx-padding: 10px;
	-fx-border-insets: 10px;
	-fx-background-insets: 10px;
}

/* desktop-header-2 - стиль для небольших заголовков */
.desktop-header-2 {
	-fx-font-family: "Arial";
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-alignment: CENTER;
	-fx-max-width: 2000px;
	/* this is just analogue of margin */
	-fx-padding: 10px;
	-fx-border-insets: 10px;
	-fx-background-insets: 10px;
}

/* desktop-label - стиль для надписей для TextEdit компонент */
.desktop-label {
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
	-fx-alignment: CENTER_RIGHT;
	-fx-max-width: 2000px;
	/* this is just analogue of margin */
	-fx-padding: 5px;
	-fx-border-insets: 5px;
	-fx-background-insets: 5px;
}

/* tooltip - стиль всплывающих подсказок и уведомлений */
.tooltip{
	-fx-background-color: white;
	-fx-text-fill: black;
}

.desktop-btn:hover {
	-fx-background-radius: 8,7,6;
	-fx-background-insets: 0,1,2;
	-fx-background-color: #CCCCCC;
}

/* NAVIGATION - Кнопки навигации */
.desktop-nav-button {
	-fx-text-fill: white;
	-fx-alignment: bottom_left;
	-fx-pref-width: 145px;
	-fx-border-radius: 3px;
	-fx-background-color: transparent;
}
.desktop-nav-button:hover {
	-fx-text-fill: white;
	-fx-background-color: domrf-primary;
}

/* INPUT - стиль для полей ввода */
.desktop-input {
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
	-fx-border-width: 1px;
	-fx-border-radius: 4px;
	-fx-background-color: white;
	-fx-border-color: lightgray;
	-fx-pref-width: 300px;
}

.desktop-input:focused{
	-fx-border-color: green;
}

/* Короткое поле ввода */
.desktop-input-short {
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
	-fx-border-width: 1px;
	-fx-border-radius: 4px;
	-fx-background-color: white;
	-fx-border-color: lightgray;
	-fx-pref-width: 50px;
}

/** RADIO BUTTONS */
.desktop-radio {
	-fx-min-width: 15px;
	-fx-pref-width: 20px;
	-fx-min-height: 15px;
	-fx-pref-height: 20px;
	-fx-background-color: transparent;
	-fx-background-radius: 100;
	-fx-border-style: solid;
	-fx-border-color: rgba(0, 0, 0, 0.54);
	-fx-border-radius: 100;
}
.desktop-radio:hover {
	-fx-cursor: hand;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.08), 7, 1, 0, 0);
}

.desktop-radio-active {
	-fx-min-width: 15px;
	-fx-pref-width: 20px;
	-fx-min-height: 15px;
	-fx-pref-height: 20px;
	-fx-background-color: transparent;
	-fx-background-radius: 100;
	-fx-border-style: solid;
	-fx-border-color: domrf-primary;
	-fx-border-radius: 100;
}
.desktop-radio-active:hover {
	-fx-cursor: hand;
	-fx-effect: dropshadow(three-pass-box, rgba(139, 197, 64, 0.08), 7, 1, 0, 0);
}
.desktop-radio-active-inner {
	-fx-min-width: 1px;
	-fx-pref-width: 1px;
	-fx-min-height: 1px;
	-fx-pref-height: 1px;
	-fx-background-color: domrf-primary;
	-fx-background-radius: 100;
	-fx-effect: dropshadow(three-pass-box, domrf-primary, 5, 1, 0, 0);
}
.desktop-radio-label {
	-fx-padding: 1 5 1 5;
}